<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="style.css" />
      <script type="text/javascript" src="script.js"></script>
      <title>Un labyrinthe {{largeur}}x{{hauteur}}</title>
   </head>

   <body onload="laby.init({{largeur}},{{hauteur}},{{taille}})">
      <h1>Labyrinthe {{largeur}}x{{hauteur}}</h1>

      <div id="laby">
         <table>
         </table>
      </div>
   </body>
</html>